@page "/realtorlist"
@using BropertyBrosClientApplication.DTO.Realtor
@using BropertyBrosClientApplication.Services
@inject RealtorService RealtorService
@rendermode InteractiveServer

@*Author: Arlind*@
<h1>Registered Realtors</h1>

@if (isLoading)
{
    <p>Loading realtors...</p>
}
else if (realtors?.Count > 0)
{
   <div class="row">
    @foreach (var realtor in realtors)
    {
        <div class="col-md-4 mb-4">
                <NavLink class="text-decoration-none text-dark" href="@($"/realtor/{realtor.Id}")">
                    <div class="card shadow-sm h-100">
                    <img src="@realtor.ProfileUrl" class="card-img-top" style="height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@realtor.FirstName @realtor.LastName</h5>
                        <p class="card-text">
                            @realtor.PhoneNumber<br />
                            @realtor.Email<br />
                            <strong>@realtor.CompanyName</strong>
                        </p>
                    </div>
                </div>
            </NavLink>
        </div>
    }
</div>


}
else
{
    <p>No realtors found.</p>
}

@code {
    private List<RealtorReadDto>? realtors;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            realtors = await RealtorService.GetAllRealtorsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading realtors: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }
}
